@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --theme-canvas: oklch(0.9401 0.0368 91.7);
    --theme-ink: oklch(0.2854 0.0094 88.76);
    --theme-accent: oklch(0.4584 0.111 22.46);
    --theme-border: oklch(0.2854 0.0094 88.76);
  }

  .dark {
    --theme-canvas: oklch(0.20 0.01 90);
    --theme-ink: oklch(0.82 0.04 92);
    --theme-accent: oklch(0.75 0.08 140);
    --theme-border: oklch(0.82 0.04 92);
  }

  ::selection {
    background-color: var(--color-ink);
    color: var(--color-canvas);
  }
}

@theme {
  --color-canvas: var(--theme-canvas);
  --color-ink: var(--theme-ink);
  --color-accent: var(--theme-accent);
  --color-border: var(--theme-border);

  --font-heading: var(--font-serif-heading), serif;
  --font-body: var(--font-serif-body), serif;
  --font-mono: var(--font-serif-mono), monospace;
}

@utility link-wet-ink {
  @apply relative inline-block text-ink no-underline transition-all duration-300 ease-out hover:text-canvas bg-linear-to-r from-ink to-ink bg-size-[0%_100%] bg-no-repeat bg-left hover:bg-size-[100%_100%];
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}