@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');
@font-face {
    font-family: 'Notulen';
    src: url('../assets/Notulen.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    // font-family: 'IBM Plex Mono', monospace;
    font-family: 'Notulen';
}

p {
    margin: 0;
}

.container {
    margin: 0 5vw;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2% 0 2% 0;
}

.nav-link {
    margin-right: 2%;
    font-family: 'Notulen';
    font-size: 1.7rem;
}

.nav-link a {
    text-decoration: none;
    color: inherit;
}

.nav-link:last-child {
    margin-right: 0%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.part-one {
    flex: 1;
    flex-basis: 57%;
}

.part-two {
    flex: 1;
    text-align: center;
    flex-basis: 43%;
}

.hero-svg {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.hero-text {
    font-family: 'Notulen';
    font-size: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sub-text {
    font-family: 'Notulen';
    font-size: 3rem;
    font-weight: 400;
}

.wave {
    display: inline-block;
}

.wave:hover {
    transform: rotate(20deg);
    cursor: pointer;
}

.hey {
    flex-basis: 10%;
}

.me {
    flex-basis: 90%;
}

.whoami {
    margin-bottom: 2%;
}

// Media Queries

@media screen and (max-width: 600px) {
    .hero {
        flex-direction: column-reverse;
    }
    .hero-text {
        font-size: 3rem;
    }
    .sub-text {
        font-size: 1.5rem;
    }
    .part-two {
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .nav-bar {
        justify-content: center;
    }
}