@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600&display=swap');


*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0;
}

.mb-4rem {
  margin-bottom: 4rem;
}

.container {
  margin: 0 5vw;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2% 0 2% 0;
}

.nav-link {
  margin-right: 2%;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.7rem;
}

.nav-link a {
  text-decoration: none;
  color: inherit;
}

.nav-link:last-child {
  margin-right: 0%;
}

.letterboxd img {
  width: 24px;
  height: 24px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.part-one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
}

.part-two {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
}

.hero-svg {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-size: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.sub-text {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 3rem;
  font-weight: 400;
}

.wave {
  display: inline-block;
}

.wave:hover {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  cursor: pointer;
}

.hey {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.me {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.whoami {
  margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero-text {
    font-size: 4rem;
  }
  .sub-text {
    font-size: 2.5rem;
  }
  .part-two {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}